body{
    font-family: 'Quicksand', sans-serif!important;
}

.img-thumbnail {
    border: 0px !important;
}

.card-title {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.chicago {
    font-size: 1.50rem;
}