{% extends "base.html" %}   

{% block titulo %}{{username}}{% endblock titulo %}
    
{% block contenido %}
<div class="container">
    <center>
        <div class = "container mensajes" id="mensajes" name={{id}}></div>
        <form class="row area-texto" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control col-9" id="espacioMensaje" placeholder="Mensaje" maxlength="100">
            <button class="btn btn-primary col-2" id="enviarMensaje">Enviar</button>
        </form>
    </center>
</div>
{% endblock contenido %}
    