{% extends "base.html" %}

{% block titulo %}{{nombre_repo}}{% endblock %}



{% block estilos %}
    <link rel="stylesheet" href="/static/css/Modificado.css">
{% endblock estilos %}
    

{% block contenido %}
  
<div class="container">
    <div class="row">

        {% for documento in documentos %}
        <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
            <div class="card-body">
                <a href="#"><img src="/media/icons/icon_documento.svg" class="img-thumbnail"></a>
                <p class="card-title text-center">{{documento.nombreDoc}}</p>
            </div>
        </div>
        {% endfor %}
        <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
            <div class="card-body">
                <a href="/crearDocumento/{{id_repo}}"><img src="/media/icons/icon_nuevo_documento.svg" class="img-thumbnail"></a>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}