{% extends "base.html" %}

{% block titulo %}Documentos{% endblock %}

{% block contenido %}

<div class="container-fluid">
    <div class="row">

        {% for documento in documentos %}
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <div class="card-body">
                <a href="#"><img src="/media/icons/baseline-insert_drive_file-24px.svg" class="img-thumbnail"></a>
                <p class="card-title text-center">{{documento.nombreDoc}}</p>
            </div>
        </div>
        {% endfor %}
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <div class="card-body">
                <a href="/crearDocumento/{{id_repo}}"><img src="/media/icons/baseline-note_add-24px.svg" class="img-thumbnail"></a>
                <p class="card-title text-center">Nuevo</p>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}