{% extends "base.html" %}
{% block titulo %}Mis repositorios{% endblock %}


{% block estilos %}
    <link rel="stylesheet" href="/static/css/Modificado.css">
{% endblock estilos %}
    

{% block contenido %}

<br>
<div class="container">
    <div class="row">
        {% for repositorio in repositorios %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2" href="#">
            <div class="card-body">
                <a href="/documentos/{{repositorio.id}}" ><img width="100%" src="/media/icons/folder_icon.svg" class="img-thumbnail"></a>
                <p class="card-title text-center">{{repositorio.nombre}}</p>
            </div>
        </div>
        {% endfor %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
            <div class="card-body">
                <a href="/crearRepositorio/"><img src="/media/icons/folder_nuevo_icon.svg" class="img-thumbnail"></a>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}