{% extends "base.html" %}
{% block titulo %}Mis repositorios{% endblock %}


{% block estilos %}
    <link rel="stylesheet" href="/static/css/Modificado.css">
{% endblock estilos %}
    

{% block contenido %}

<br>
<div class="container">
    <div class="row">
        {% for repositorio in repositorios %}
        <div class="col-sm-2" href="#">
            <div class="card-body">
                <a href="/documentos/{{repositorio.id}}" ><img src="/media/icons/icon_repositorio.png" class="img-thumbnail"></a>
                <h5 class="card-title text-center">{{repositorio.nombre}}</h5>
            </div>
        </div>
        {% endfor %}
        <div class="col-sm-2">
            <div class="card-body">
                <a href="/crearRepositorio/"><img src="/media/icons/icon_add_repositorio.png" class="img-thumbnail"></a>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}