{% extends "base.html" %}
{% block titulo %}Mis repositorios{% endblock %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="migajas">
            <li class="breadcrumb-item"><a href="/index">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mis repositorios</li>
        </ol>
    </nav>
{% endblock breadcrumb %}
    
    

{% block contenido %}

<div class="container-fluid">
    <div class="row">
        {% for repositorio in repositorios %}
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2" href="#">
            <div class="card-body">
                <a href="/documentos/{{repositorio.id}}" ><img width="100%" src="/media/icons/baseline-folder-24px.svg" class="img-thumbnail"></a>
                <p class="card-title text-center">{{repositorio.nombre}}</p>
            </div>
        </div>
        {% endfor %}
        <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
            <div class="card-body">
                <a href="/crearRepositorio/"><img src="/media/icons/baseline-create_new_folder-24px.svg" class="img-thumbnail"></a>
                <p class="card-title text-center">Nuevo</p>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}